
body {
  margin: 0;
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "image sidebar"
    "slider sidebar";
  height: 100vh;
  width: 100vw;
}

.sidebar {
  grid-area: sidebar;
  background-color: rgb(255, 255, 255);
}

.slider-container {
  grid-area: slider;
  margin-top: 2rem;
  padding: 2rem;
}

.slider {
  width: 100%;
  cursor: pointer;
}

.sidebar {
  grid-area: sidebar;
  border-left: 1px solid hsl(0, 0%, 0%);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.sidebar-item {
  cursor: pointer;
  padding: 1rem;
  position: relative;
}

.title{
  text-align: center;
  font-size: xx-large;
  color: rgb(0, 0, 0);
}

.image-add{
  color: rgb(0, 0, 0);
  font-size: x-large;
}

.image{
  height: 40vh;
  width: 50vw;
}

.image-download{
  display: block;
  margin-top: 5px;
  border: 0.5px solid;
  width: 180px;
  padding: 10px;
  font-size: 20px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.image-save{
  display: block;
  margin-top: 5px;
  border: 0.5px solid;
  width: 120px;
  padding: 10px;
  font-size: 20px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.file{
  display: block;
  border: 0.5px solid;
  width: 250px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);

}

